<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1>Monsoon Schools</h1>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-end">
        <button class="btn" [class.selected]="selectedYear === year" *ngFor="let year of years" (click)="selectYear(year)">{{ year }}</button>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container" *ngIf="eventData">
  <h2 class="text">{{ eventData.title }}</h2>
  <p class="text">{{ eventData.details }}</p>
  <div class="image-container" *ngFor="let img of eventData.imgsArray">
    <img [src]="img" alt="Image" class="centered-image">
  </div>
</div>
<button class="scroll-to-top" #scrollToTopButton (click)="scrollToTop()">↑</button>





