.btn {
  color: #080000;
  border-radius: 5px;
  margin: 3px;
  transition: background-color 0.3s ease;
  word-wrap: break-word;
  border-color: #080000;
}
.btn:hover{
  background-color: #f7e8d6;
  transform: scale(1.05);
}
.selected {
  background-color: #721816;
  color: #ffffff;
  font-weight: bolder;
  pointer-events: none;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: none;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}
.scroll-to-top:hover {
  background-color: #004080;
}
.w-100 {
  border: 1px solid #ccc;
  border-radius: 5px;
}
