.carousel-inner{
  max-height: 100vh
}
.bg-light{
  background-color: rgb(50, 48, 48);
  color: rgb(50, 48, 48);
}
.nav-link {
  // display: inline-block;
  position: relative;
  // color: #0087ca;
}
.nav-link::after {
  content: '';
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #030303;
  transform-origin: bottom left;
  transition: transform 0.5s;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button{
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  background-color: #aee5f3;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);

}

.button:hover {
  background-color: #ddd;
}
.button:focus{
  background-color: #194c75;
}

.text {
  text-align: center;
  text-align: justify;
  padding: 1pc;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-image {
  max-width: 100%; /* Ensure image fits container */
  height: auto; /* Maintain aspect ratio */
  margin: 5px;
  padding: 1pc;
}

