<div class="container-fluid mt-5 px-5">
  <div class="row">
    <div class="col-md-6">
      <h1>Monsoon Schools</h1>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-end">
        <button class="btn" [class.selected]="selectedYear === year" *ngFor="let year of years" (click)="selectYear(year)">
          {{ year }}
        </button>
      </div>
    </div>
  </div>
</div>
<hr>
<div *ngIf="eventData" class="container-fluid px-5">
  <div class="row justify-content-center">
    <div class="col-md-11">
      <h2 class="text-center m-5">{{ eventData?.title }}</h2>
      <p class="text mb-5" style="text-align: justify;">{{ eventData?.details }}</p>
      <div class="row">
        <div class="col-md-6 col-12 mb-2">
          <img [src]="eventData?.imgsArray[0]" alt="" class="w-100 h-100">
        </div>
        <div class="col-md-6 col-12">
          <div class="row">
            <div class="col-12 mb-2">
              <img [src]="eventData?.imgsArray[1]" alt="" class="w-100 h-100">
            </div>
            <div class="col-12 mb-2">
              <img [src]="eventData?.imgsArray[2]" alt="" class="w-100 h-100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="scroll-to-top" #scrollToTopButton (click)="scrollToTop()">↑</button>
