<section class="title container bg-body-tertiary">
  <div class="row">
    <div class="col-md-12">
      <h1>Testimonials</h1>
      <div class="seperator"></div>
    </div>
  </div>
</section>

<!-- Start Blog Layout -->
<div class="container bg-transparent">
  <div class="row">

    <div class="col-md-6 item ">
      <div class="item-in">
        <div class="seperator"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi expedita eveniet consectetur, voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!</p>
        <a href="#">Read More
          <i class="fa fa-long-arrow-right"></i>
        </a>
      </div>
    </div>

    <div class="col-md-6 item">
      <div class="item-in">
        <div class="seperator"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi expedita eveniet consectetur, voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!</p>
        <a href="#">Read More
          <i class="fa fa-long-arrow-right"></i>
        </a>
      </div>

    </div>
  </div>
</div>

