.title {
  text-align: center;
}

.title h1 {
  text-transform: uppercase;
}
.card .row .g-0 .col-md-5.col-sm-12 img {
  width: 100%;
  height: auto;
}

.card .row .g-0 .col-md-7.col-sm-12 .card-body h5.card-title {
  font-weight: bold;
}

.card .row .g-0 .col-md-7.col-sm-12 .card-body p.card-text {
  margin-bottom: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-footer.text-muted {
  display: flex;
  justify-content: space-between;
}
