<div class="container-fluid text-center mt-3">
  <h2><b>Centres and Facilities</b></h2>
</div>
<hr />

<div class="container-fluid px-md-5 mb-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let card of labCards">
      <div class="card h-100 shadow-sm border-0 p-1">
        <img
          [src]="card.imgSrc"
          class="card-img-top p-1 rounded"
          [alt]="card.title"
          style="object-fit: cover; "
        />
        <h5 class="card-title mb-2 p-1">
            <b>{{ card.title }}</b>
          </h5>
          <p class="card-text p-1" [innerHTML]="card.description" style="text-align: justify;"></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid px-md-5 mb-5">
  <h3 class="text-center mb-4"><b>Equipment & Services Booking</b>
  <img src="../../../assets/images/Book_F.gif" alt="New" class="ms-2" style="height: 50px;"></h3>

  <div class="table-responsive shadow-sm">
    <table class="table table-bordered table-hover text-center align-middle bg-white m-0">
      <thead class="table-light">
        <tr>
          <th rowspan="2" class="align-middle w-50">Equipment Name / Service Description <br>
            <small class="text-muted">(Click on the name to view details)</small>

          <th colspan="2" class="align-middle">Booking Link</th>
          <th rowspan="2" class="align-middle">I-STEM Portal</th>
        </tr>
        <tr>
          <th class="fw-semibold">IISc User</th>
          <th class="fw-semibold">Non-IISc User</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of equipmentTable; let i = index">

          <td class="text-start px-4">
            <a [href]="item.pdfLink" target="_blank" class="fw-bold text-decoration-none" style="color: #043b8d;">
              {{ item.name }}
              <i class="bi bi-file-earmark-pdf text-danger ms-1" title="View PDF"></i>
            </a>
          </td>

          <td>
            <a *ngIf="item.bookingIISc" [href]="item.bookingIISc" target="_blank" class="btn btn-sm btn-primary px-3">
              Book Here
            </a>
            <span *ngIf="!item.bookingIISc" class="text-muted">-</span>
          </td>

          <td *ngIf="i === 0" [attr.rowspan]="equipmentTable.length" class="bg-light">
            <a [href]="nonIiscBookingLink" target="_blank" class="btn btn-sm btn-info px-3">
              Book Here <br>
              <small class="text-muted">(All Services)</small>
            </a>
          </td>

          <td>
            <a *ngIf="item.istemLink" [href]="item.istemLink" target="_blank" class="btn btn-sm btn-success text-white px-3">
              I-STEM Link
            </a>
            <span *ngIf="!item.istemLink" class="text-muted">-</span>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
