h2{
  color: rgba(3, 26, 37, 0.945) ;
  text-shadow: 1px 1px 1px rgba(15, 144, 209, 0.945) ;
}
.img-thumbnail{
  padding: 2px;
  border-radius: 1%;
  border-color: rgba(15, 144, 209, 0.945) ;
    max-height: 500px;

}

@media (max-width: 768px){
  h1{
    font-size: calc(1.0rem + 3.0vw);
  }
  .h-sm-70{
    height: 15vh;
  }
  .px-sm-5{
    padding-left: 55px;
    padding-right: 55px;
  }
}
@media (min-width: 768px) {
  .h-sm-70{
    height: 30vh;
  }
}

