<div class="container-fluid text-center mt-3">
  <h2><b>Centres and Facilities</b></h2>
</div>
<hr />

<div class="accordion container-fluid px-5 mb-5" id="facilitiesAccordion" style="text-align: justify;">
  <div class="accordion-item mb-3" *ngFor="let facility of facilitiesList; let i = index">
    <h2 class="accordion-header" [id]="'heading' + i">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#collapse' + i"
        aria-expanded="false"
        [attr.aria-controls]="'collapse' + i"
      >
      <h5>
        {{ facility.deviceName }}
        <img *ngIf="facility.deviceName.trim().toLowerCase() === 'water quality monitoring lab'"
     src="../../../assets/images/Book_N.gif"
     alt="Book Now"
     width="125"
     class="rounded "
     style="margin-left: 50px;" />
      </h5>
      </button>
    </h2>
    <div
      [id]="'collapse' + i"
      class="accordion-collapse collapse"
      [attr.aria-labelledby]="'heading' + i"
      data-bs-parent="#facilitiesAccordion"
    >
      <div class="accordion-body row justify-content-center px-5">
        <!-- Description Section (Before Sub-Accordion) -->
        <div class="m-2 bg-light">
          <p [innerHTML]="facility.description"></p>
        </div>

        <!-- Image Section (If GIF/Image Exists) -->
        <div *ngIf="facility.imgSrc" class="col-md-4 col-sm-12 m-2">
          <img class="col-12 img-thumbnail mb-3" [src]="facility.imgSrc" [alt]="facility.deviceName" />
        </div>


        <!-- Spacer -->
        <span *ngIf="facility.imgSrc" class="d-none d-md-inline" style="width: 3px"></span>

        <!-- Sub-Facilities Accordion -->
        <div class="col-md-12">
          <ng-container *ngIf="facility.subFacilities && facility.subFacilities.length > 0">
            <div class="accordion" [id]="'subFacilitiesAccordion' + i">
              <div class="accordion-item mb-1" *ngFor="let sub of facility.subFacilities; let j = index">
                <h2 class="accordion-header" [id]="'subHeading' + i + j">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#subCollapse' + i + j"
                    aria-expanded="false"
                    [attr.aria-controls]="'subCollapse' + i + j"
                  >
                    {{ sub.title }}
                  </button>
                </h2>
                <div
                  [id]="'subCollapse' + i + j"
                  class="accordion-collapse collapse"
                  [attr.aria-labelledby]="'subHeading' + i + j"
                  [attr.data-bs-parent]="'#subFacilitiesAccordion' + i"
                >
                  <div class="accordion-body row">
                    <!-- Text (col-8) and Image (col-4) in Sub-Accordion -->
                    <div class="col-md-8 col-sm-12">
                      <p [innerHTML]="sub.content"></p>
                    </div>
                    <div *ngIf="sub.imgSrc" class="col-md-4 col-sm-12">
                      <img class="col-12 img-thumbnail" [src]="sub.imgSrc" [alt]="sub.title" />
                      <div class="text-center">   <!-- Charges -->
                        <p *ngIf="sub.charges" class="mt-2">
                          <strong>Charges:</strong> {{ sub.charges }}
                        </p>

                        <p *ngIf="sub.formLink">
                          <a [href]="sub.formLink" target="_blank">
                            <img src="../../../assets/images/Book_N.gif" alt="Book Now" style="height: 100px;" />
                          </a>
                        </p></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

