<div class="container-fluid text-center mt-3">
  <h1><b>Centres and Facilities</b></h1>
</div>
<hr>
<div class="container-fluid px-5">
  <div class="row justify-content-center my-5" style="text-align: justify;">
    <div class="col-md-5 col-sm-12 m-2 py-1 bg-light">
      <h2>Soil Temperature Monitoring System (STMS)</h2>
      <p>The value of soil moisture measurement in many research, industrial and agricultural fields are necessary for managing water resources effectively. However, collecting data from the field is time-consuming and can be expensive. To automate data collection and data logging, a system was developed using the proven Watermark solid state, electric resistance type sensor and cellular network and internet database real-time monitoring. Now, the STMS can wirelessly download data from soil moisture and temperature sensors directly into your computer from any part of the world.</p>
    </div>
    <span class="d-none d-md-inline" style="width: 3px"></span>
    <img class="col-md-4 col-sm-12 m-2 img-thumbnail" src="../../../assets/images/Centres and Facilities/STMS.jpg">
  </div>
  <div class="row justify-content-center my-5" style="text-align: justify;">
    <img class="col-md-4 col-sm-12 m-2 img-thumbnail" src="../../../assets/images/Centres and Facilities/SMTMS.jpg">
    <span class="d-none d-md-inline" style="width: 3px"></span>
    <div class="col-md-5 col-sm-12 m-2 py-1 bg-light">
      <h2>Soil Moisture and Temperature Monitoring system (SMTMS)</h2>
      <p>The value of soil moisture and temperature measurement in many research, industrial and agricultural are necessary for managing water resources effectively. However, collecting data from the field is time-consuming and can be expensive. To automate data collection and data logging, a system was developed using the proven Watermark solid state, electric resistance type sensor and cellular network and internet database real-time monitoring. Now, the SMTMS can wirelessly view, analyse and download data from soil moisture and temperature sensors directly into your computer from any part of the world.</p>
    </div>
  </div>
  <div class="row justify-content-center my-5" style="text-align: justify;">
    <div class="col-md-5 col-sm-12 m-2 py-1 bg-light">
      <h2>Cluster</h2>
      <p>ICWaR has deployed a computer cluster to improve performance and availability over that of a single computer, while typically being much more cost-effective than single computers of comparable speed or availability. This is used by students for the efficient results.</p>
    </div>
    <span class="d-none d-md-inline" style="width: 3px"></span>
    <div class="col-md-4 col-sm-12 m-2">
      <img class="col-6 img-thumbnail" src="../../../assets/images/Centres and Facilities/Cluster1.jpg">
      <img class="col-6 img-thumbnail" src="../../../assets/images/Centres and Facilities/Cluster2.jpg">
    </div>
  </div>
  <div class="row justify-content-center my-5" style="text-align: justify;">
    <img class="col-md-4 col-sm-12 m-2 img-thumbnail" src="../../../assets/images/Centres and Facilities/DGPS_ICWaR.jpg">
    <span class="d-none d-md-inline" style="width: 3px"></span>
    <div class="col-md-5 col-sm-12 m-2 py-1 bg-light">
      <h2>Differential Global Positioning System / Differential Global Navigation Satellite System (DGPS/DGNSS)</h2>
      <p>ICWaR has an advanced model of a DGPS/DGNSS device, the Leica GS18, which comes with two receivers. This device is used for high-precision (mm/cm level accuracy) position mapping or surveying of various geographical areas. Applications include accurately determining GPS positions for sampling points, mapping glacier boundaries, measuring glacier surface ice velocities, and establishing ground control points (GCPs), among others.</p>
    </div>
  </div>
</div>
