<div class="container-fluid mt-3 px-5">
  <h1>Media Coverage ({{media_coverage.length}})</h1>
</div>
<hr>
<div id="media-coverage" class="p-5 row d-flex justify-content-center col-12 pt-0">
  <ng-container *ngFor="let item of media_coverage">
    <div class="row shadow border card border-1 mb-2 col-12 col-md-10 border-dark p-3 ">
      <h4 class="text"><b>{{ item.Title }}</b></h4>
      <h5 class="text">{{ item.Details }}</h5>
      <div class="col-12 d-flex">
        <a [href]="item.link[0]" target="_blank" class="ms-auto">Click to view full article</a>
      </div>
    </div>
  </ng-container>
</div>
<button class="scroll-to-top d-none d-md-block" (click)="scrollToTop()">↑</button>





