<div class="container-fluid mt-5 px-5">
  <div class="row">
    <div class="col-md-6">
      <h1>Publications</h1>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-end">
        <button class="btn me-2" [class.selected]="activeTab === 'journal'" (click)="showTab('journal')">Journal</button>
        <button class="btn me-2" [class.selected]="activeTab === 'conference'" (click)="showTab('conference')">Conference</button>
        <button class="btn me-2" [class.selected]="activeTab === 'bookChapter'" (click)="showTab('bookChapter')">Book Chapter</button>
        <button class="btn" [class.selected]="activeTab === 'book'" (click)="showTab('book')">Book</button>
      </div>
    </div>
  </div>
</div>
<hr>

<div *ngFor="let tab of tabs" [id]="tab.id" class="content" [style.display]="tab.id === 'journal' ? 'block' : 'none'">
  <div class="container-fluid px-5 mb-5">
    <div class="row justify-content-center">
      <h2 style="text-align: center; margin-bottom: 2pc; text-decoration: underline;">{{ tab.id === 'journal' ? 'Journal Publications' : (tab.id === 'conference' ? 'Conference Proceedings' : (tab.id === 'bookChapter' ? 'Book Chapter' : 'Books Published')) }}</h2>
    </div>
    <div *ngFor="let entry of tab.data" class="col-md-11 mx-auto">
      <h4><b>{{ entry.year }} ({{ entry.publications.length }})</b></h4>
      <ul>
        <li *ngFor="let publication of entry.publications">
          <p style="text-align: justify;">{{ publication.text }} <a href="{{ publication.links[0] }}" target="_blank">{{ publication.links }}</a></p>
        </li>
      </ul>
    </div>
  </div>
</div>


<button class="scroll-to-top" #scrollToTopButton (click)="scrollToTop()">↑</button>


