.card-hover-shadow{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.694);
    transition: box-shadow .5s;
}
.card-hover-shadow:hover{
 box-shadow: 20px 20px 20px black;
}

.btn {
  background-color: #405d7c;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #0056b3;
}
.container {
  margin-top: 20px;
}
.row {
  justify-content: center;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}
.table th {
  background-color: #244280;
  color: #fff;
  font-weight: bold;
}
.table tbody tr:hover {
  background-color: #f5f5f5;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.selected {
  background-color: #0056b3;
  color: #fff;
}

.bold-hr {
  border-top: 3px solid rgb(0, 0, 0);
}



@media only screen and (max-width: 767px) {
  .col-md-8 {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .btn {
    display: block;
    width: 100%;
    margin: 10px;
  }
  .table {
    width: 100%;
  }
  .card-body {
    padding: 0;
    overflow-y: auto;
    max-height: 600px;
  }

}

@media only screen and (max-width: 1150px) {
.abbreviations {
display: none ;
  }
.projects {
  width: 100%;
  margin: 5%;
}
}




