<div class="container-fluid">

  <div class="mt-3 px-5">
    <div class="row">
      <div class="col-md-5">
        <h2><b>Research</b></h2>
      </div>
      <div class="col-md-7 col-12">
        <div class="d-flex flex-wrap justify-content-end">
          <button class="btn me-2" [class.selected]="!showProjects && !showVignettes && !showCollaborations && !showGroups" (click)="toggleSection('about')">About</button>
          <button class="btn me-2" [class.selected]="showProjects" (click)="toggleSection('projects')">Projects</button>
          <!-- <button class="btn me-2" [class.selected]="showVignettes" (click)="toggleSection('vignettes')">Vignettes</button> -->
          <button class="btn me-2" [class.selected]="showCollaborations" (click)="toggleSection('collaborations')">Collaborations</button>
          <button class="btn me-2" [class.selected]="showGroups" (click)="toggleSection('groups')">Groups</button>
          <button class="btn me-2" routerLink="/centres-and-facilities">Facilities & Labs</button>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- About Section -------->
  <div *ngIf="showAboutSection" class="row mx-1">
    <div class="col-md-4 mb-5 me-md-5">
      <div class="card p-3 bg-light">
        <h3 class="py-1"><b>About</b></h3>
        <p style="text-align: justify;">
          The Interdisciplinary Centre for Water Research (ICWaR) at the Institute is set up with an aim to address water-related issues that have formidable scientific challenges and more importantly, considerable practical relevance. A major objective of this centre is to develop tools and templates using state-of–the-art sensor-communication, satellite information- and nano- technologies to provide implementable solutions to the water problems faced by the society with respect to climate change, water demand, water quality, extremes of floods and droughts, and salinity intrusion in coastal aquifers. Within a short period of time, the centre has made high-impact research contributions in the area of water resources at regional and global levels.
        </p>
      </div>
    </div>

    <div id="carouselExample" class="carousel slide bg-dark p-1 col-md-7 col-12 d-flex align-items-center justify-content-center mb-5" data-bs-ride="carousel" data-bs-interval="4000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="9" aria-label="Slide 10"></button>
      </div>
      <div class="carousel-inner">
        <ng-container *ngFor="let row of slides; index as index">
          <div class="carousel-item" [ngClass]="index == 0 ? 'active' : null">
            <img src="{{row}}" class="d-block w-100" alt="...">
            <div class="d-flex flex-column h-100 align-items-center justify-content-center"></div>
          </div>
        </ng-container>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


  <!--------- Projects section --------->
  <div *ngIf="showProjects">
    <h3 class="text-center mb-3"><b>Projects</b></h3>
    <div class="m-md-2 p-2 row bg-light">
      <div class="abbreviations col-12 shadow col-md-3 align-middle align-items-center card p-3 pb-3" style="height:fit-content">
        <div *ngIf="abbreviations.length > 0">
          <h2>Abbreviations</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Abbreviation</th>
                <th>Definition</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of abbreviations">
                <td>{{ getKey(item) }}</td>
                <td>{{ item[getKey(item)] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="projects col-12 col-md-8 shadow offset-md-1 align-items-center align-middle p-3">
        <div class="row">
          <div class="col pb-3">
            <button class="btn m-2" [class.selected]="activeTab === 'ongoing'" (click)="setActiveTab('ongoing')">Ongoing Projects</button>
            <button class="btn m-2" [class.selected]="activeTab === 'completed'" (click)="setActiveTab('completed')">Completed Projects</button>
          </div>
        </div>
        <div class="card-body">
          <h2 *ngIf="activeTab === 'ongoing'">Ongoing Projects</h2>
          <h2 *ngIf="activeTab === 'completed'">Completed Projects</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Investigators</th>
                <th>Sponsor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of (activeTab === 'ongoing' ? research_projects.Ongoing : research_projects.Completed)">
                <td>{{ project.Title }}</td>
                <td>{{ project.Investigators }}</td>
                <td>{{ project.Sponsor }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-------- Vignettes section -------->
  <!-- <div *ngIf="showVignettes" class="p-5 row w-100 bg-light">
    <div class="col-12 p-4 bg-white">
      <h1 class="text-center"><b>Research Vignettes</b></h1>
    </div>
    <div class="col-12 p-md-5">
      <div class="row" *ngFor="let vignette of research_vignettes; let i = index">
        <div class="col-md-6 mb-3">
          <div class="container">
              <img [src]="vignette.imgSrc" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div style="text-align: justify;" >
            <p>{{ vignette.details }}</p>
          </div>
        </div>
        <hr *ngIf="i !== research_vignettes.length - 1" class="bold-hr">
      </div>
    </div>
  </div> -->
  <!--------- Collaborations section --------->
  <div *ngIf="showCollaborations">
    <h3 class="text-center mb-3"><b>Collaborations</b></h3>
    <div class="m-md-2 2 row bg-light">
      <div class="row">
        <div class="col-md-3 mb-3" *ngFor="let collaboration of collaborations">
          <section class="card p-2 h-100">
            <img [src]="collaboration.imgSrc" class="card-img-top img-thumbnail" style="max-width: 100%;" alt="Collaboration Image">
            <div class="card-body">
              <h5 class="card-title">{{ collaboration.title }}</h5>
              <p class="card-text">{{ collaboration.details }}</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-------------Groups Section--------------->
  <div *ngIf="showGroups">
    <h3 class="text-center mb-3"><b>Groups</b></h3>
    <div class="card-group m-md-2 p-2 bg-light">
      <div class="card m-3 card-hover-shadow" *ngFor="let group of groups">
        <img class="card-img card-header" [src]="group.imgSrc" [alt]="group.groupName">
        <div class="card-body bg-light p-3">
          The group is led by {{ group.leader }}, {{ group.text }}.
          <h3><br><a [href]="group.websiteUrl" target="_blank">{{ group.groupName }}</a></h3>
        </div>
      </div>
    </div>
  </div>

  <button class="scroll-to-top d-none d-md-block" (click)="scrollToTop()">↑</button>
</div>





