.title {
  text-align: center;
}
.title h1 {
  text-transform: uppercase;
}
.nav-link {
position: relative;
}
.nav-link::after {
  content: '';
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #030303;
  transform-origin: bottom left;
  transition: transform 0.5s;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.card-hover-shadow {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.694);
  transition: box-shadow 0.5s;
}

.card-hover-shadow:hover {
  box-shadow: 20px 20px 20px black;
}
.carousel-controls-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  z-index: 10; /* Ensure it is above the cards */
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
}
