.title {
  text-align: center;
}
.title h1 {
  text-transform: uppercase;
}
.nav-link {
position: relative;
}
.nav-link::after {
  content: '';
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #030303;
  transform-origin: bottom left;
  transition: transform 0.5s;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.card-hover-shadow {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.694);
  transition: box-shadow 0.5s;
}

.card-hover-shadow:hover {
  box-shadow: 20px 20px 20px black;
}

.carousel-controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 25px;
  right: 25px;
}

.carousel-control-prev,
.carousel-control-next {
  border: 2px solid #030303;
  border-radius: 10%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  cursor: pointer;
  background-color: transparent;
}

.carousel-control-prev::before,
.carousel-control-next::before {
  content: '';
  font-size: 50px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev::before {
  content: '\2039'; /* Unicode for the left arrow */
  padding-bottom: 12px;
}

.carousel-control-next::before {
  content: '\203A'; /* Unicode for the right arrow */
  padding-bottom: 12px;
}


.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-indicators button {
  background-color: #999999;
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
}

.carousel-indicators button.active {
  background-color: #000000;
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 80%;
  }
}
