<div class="p-5">
  <div class="p-md-3">
    <tabset>
      <ng-container *ngFor="let key of getJsonKeys(gallery)">
        <tab heading="{{key}}">
          <tabset class="p-md-5 col-12 my-1">
            <ng-container *ngFor="let years of getJsonKeys(getValueForKey(gallery, key), true)">
              <tab class="p-3" heading="{{years}}">
                <div class="row">
                  <ng-container *ngFor="let img of getJsonValues(getValueForKey(getValueForKey(gallery, key), years)); index as index">
                    <div class="col-md-4 col-sm-12 mb-3">
                      <img
                        height="320px"
                        [ngClass]="myFunc() === (index % 3) ? 'warm' : ''"
                        class="img-fluid img-frame p-3"
                        src="{{getValueForKey(img, 'imgSrc')}}">
                    </div>
                    <div *ngIf="(index + 1) % 3 === 0 && index + 1 !== getJsonValues(getValueForKey(getValueForKey(gallery, key), years)).length" class="w-100 d-none d-md-block"></div>
                  </ng-container>
                </div>
              </tab>
            </ng-container>
          </tabset>
        </tab>
      </ng-container>
    </tabset>
  </div>
</div>
