<div class="container-fluid mt-5 px-5">
  <div class="row">
      <h1>Outreach({{outreach.length}})</h1>
  </div>
</div>
<hr>
<div id="media-coverage" class="p-5 row d-flex justify-content-center col-12 pt-0">
  <ng-container *ngFor="let item of outreach">
    <div class="row shadow border card border-1 mb-2 col-12 col-md-10 border-dark p-3 ">
      <h4 class="text"><b>{{ item.title }}</b></h4>
      <h5 class="text">{{ item.details }}</h5>
      <div class="col-12 d-flex">
        <a [href]="item.link" target="_blank" class="ms-auto">Click here to view</a>
      </div>
    </div>
  </ng-container>
</div>
<button class="scroll-to-top d-none d-md-block" (click)="scrollToTop()">↑</button>

