<div class="container text-center pt-5">
  <h2>Inauguration of New Building for ICWaR</h2>
  <p>Inaugurated by the Director, IISc on 12-February-2018</p>
</div>
<div class="container-fluid p-5 row  ">
<img src="../../../assets/images/Centres and Facilities/New_B1.jpg" alt="" class="col-md-3 col-sm-12 m-2">
<img src="../../../assets/images/Centres and Facilities/New_B2.jpg" alt="" class="col-md-3 col-sm-12 m-2">
<img src="../../../assets/images/Centres and Facilities/New_B3.jpg" alt="" class="col-md-3 col-sm-12 m-2">
<img src="../../../assets/images/Centres and Facilities/New_B4.jpg" alt="" class="col-md-3 col-sm-12 m-2">
<img src="../../../assets/images/Centres and Facilities/New_B5.jpg" alt="" class="col-md-3 col-sm-12 m-2">
<img src="../../../assets/images/Centres and Facilities/New_B6.jpg" alt="" class="col-md-3 col-sm-12 m-2">
<img src="../../../assets/images/Centres and Facilities/New_B7.jpg" alt="" class="col-md-3 col-sm-12 m-2">
<img src="../../../assets/images/Centres and Facilities/New_B8.jpg" alt="" class="col-md-3 col-sm-12 m-2">
<img src="../../../assets/images/Centres and Facilities/New_B9.jpg" alt="" class="col-md-3 col-sm-12 m-2">
</div>
