<div class="container bg-light">
  <div class="row justify-content-center my-5">
    <div class="col">
      <h1 class="text-center">Programmes Offered</h1>
      <hr>
      <h5 style="text-align: justify;">
        <p><strong>Department/Centre/Unit:</strong> Water Research (WR)</p>
        <p><strong>Programme:</strong> Ph.D. Interdisciplinary programme offered by Interdisciplinary Centre for Water Research.</p>
        <p><strong>Basic Qualification for Eligibility:</strong> BE / B Tech or equivalent degree in any branch of Engineering or M Sc or equivalent degree in Physics / Chemistry / Materials / Mathematics / Statistics / Data Science / Environmental Sciences / Geology / Hydrogeology / Atmospheric Sciences / Agricultural Sciences /Biotechnology or Graduates of 4-year Bachelor of Science programmes.</p>
        <p><strong>Areas of Research:</strong> Global and regional hydrological circulation, climate change impact on hydrology, Land-atmosphere interactions; Land use land cover and Terrestrial carbon cycle changes; Urban water systems; Urban hydrology/ hydrogeology; Watershed and river basin hydrology; Monsoon low-pressure systems; Natural hazards- Inland/coastal Floods, and droughts; Water management; Agrohydrology; Wetland science; Lake ecosystems; Aquatic geochemistry; Geothermal reservoir modelling; Isotope hydrology; Development of sensors: design, modeling and fabrication of water contaminant sensors, Satellite hydrology – Application of satellite technologies; Hydro geochemistry, contamination hydrology, Groundwater resources and depletion, Tracer hydrology, Water Quality Modeling, Water and wastewater treatment, Remediation of environmental and emerging contaminants.</p>
        <p class="text-end">For more details, <a href="https://iisc.ac.in/admissions/research-programmes/#ffs-tabbed-137" target="_blank">click here</a></p>
      </h5>
    </div>
  </div>
</div>

