<div class="container-fluid text-center mt-3">
  <h2><b>Courses Offered</b></h2>
</div>
<hr>
<div class="container-fluid ps-md-5 pb-5 m-md-5"  >
  <h5 class="mb-4">In session 2024-25 (AUG-DEC), mentioned are the three courses offered:</h5>
  <table class="table">
    <thead>
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>WR 201</td>
        <td>Watershed Modeling</td>
      </tr>
      <tr>
        <td>WR 202</td>
        <td>Geodetic Signal Processing</td>
      </tr>
      <tr>
        <td>WR 203</td>
        <td>Applied Geochemical Modeling and Water Quality Analysis</td>
      </tr>
    </tbody>
  </table>
  <p class="mt-5">
    For further details, connect to
    <a href="https://indianinstituteofscience.sharepoint.com/sites/ICWaR.IISc/SitePages/Home.aspx" target="_blank">
      Intra-IISc ICWaR Page
    </a>
  </p>
</div>



