<div class="container-fluid mt-5 px-5">
  <div class="row">
      <h1>ICWaR Community Seminar Series ({{seminars.ICWaR_Community_Seminar_Series.length}})</h1>
  </div>
</div>
<hr>
<div id="Seminars" class="p-5 row d-flex justify-content-center col-12 pt-0">
  <ng-container *ngFor="let item of seminars.ICWaR_Community_Seminar_Series; index as index">
    <div class="card-bg shadow border border-1 mb-2 card col-12 col-md-10 border-dark p-3">
      <div class="card-text">
        <h4><b>{{item.DateTime}}</b></h4>
        <h3><b>{{item.Title}}</b></h3>
        <h5 class="col-md-9 col-12 mb-md-0"><b>Speaker:</b> {{item.speakerName}}</h5>
        <div id={{index}} class="row py-4 col-12 collapse">
          <h5><b>Abstract:</b></h5>
          <h6 class="col-12" style="text-align: justify;">{{item.Abstract}}</h6> <br>
        </div>
        <div class="col-12 d-flex">
          <button class="m-1 p-1 btn btn-text-expand collapsed ms-auto" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+index" aria-expanded="false" [attr.aria-controls]="index"></button>
        </div>
        <hr style="height: 1px; background-color: black;">
      </div>
    </div>
  </ng-container>
</div>
<button class="scroll-to-top" #scrollToTopButton (click)="scrollToTop()">↑</button>

