button.btn.btn-text-expand.collapsed:before
{
    content:'...Read more' ;
    display: block;
    width: 100%;
}
button.btn.btn-text-expand:before
{
    content:'Read less' ;
    display: block;
    width: 100%;
}
.btn {
  color: #080000;
  border-radius: 5px;
  margin: 3px;
  transition: background-color 0.3s ease;
  word-wrap: break-word;
  border-color: #080000;
}
.btn:hover{
  background-color: #f7e8d6;
  transform: scale(1.05);
}
.card-bg{
  background-color: rgb(207, 241, 241);
  box-shadow: 2px 2px 10px black;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: none;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}
.scroll-to-top:hover {
  background-color: #004080;
}
