<div class="container-fluid text-center mt-4">
  <h2><b>Workshops & Meetings ({{workshops.length}})</b></h2>
</div>
<hr>

<div class="d-flex justify-content-center pt-3">
  <div class="row p-5 col-md-10 pt-0">
    <div *ngFor="let item of workshops; index as index" class="row shadow border border-dark mb-2 card col-12 p-3">
      <div class="col-12">
        <h4>{{item.Date}}</h4>
      </div>
      <div class="col-md-10">
        <h5 class="text"><b>{{item.Title}}</b></h5>
      </div>
      <div id="{{index}}" class="row py-4 col-12 collapse">
        <div class="col-12">
          <h6 class="text mb-3">{{item.Details}} <a *ngIf="item.link" [href]="item.link" target="_blank">Click here</a></h6>
        </div>
        <div class="row">
          <ng-container *ngFor="let row of item.imgsArray">
            <img class="col mb-2 col-md-6" [src]="row" />
          </ng-container>
        </div>
      </div>
      <div class="col-12 d-flex">
        <button class="m-1 p-1 btn btn-text-expand collapsed ms-auto" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+index" aria-expanded="false" [attr.aria-controls]="index"></button>
      </div>
      <hr>
    </div>
  </div>
</div>
<button class="scroll-to-top d-none d-md-block" (click)="scrollToTop()">↑</button>
