.arrow {
  width: 80%;
  height: 50px;
  background-color: #74aef0; /* Set the background color */
  position: relative;
  display: inline-block;
}

.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.arrow::before {
  left: -25px;
  border-right: 25px solid #3f7cee; /* Same color as the right arrow */
}

.arrow::after {
  right: -25px; /* Adjust the position to align with the main rectangle */
  border-left: 25px solid  #3f7cee;  /* Same color as the right arrow */
}
h5 {
  text-align: center;
}
