<div class="container-fluid text-center my-3" style="min-height: 50vh;">
  <h2><b>Ways to join ICWaR</b></h2>
  <hr class="mb-5">
  <div class="arrow mb-4" id="headingOne">
    <h5 class="mb-0">
      <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h5><b>PhD in Water Research</b></h5>
      </button>
    </h5>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
      <div class="my-3" style="text-align: justify;">
        <p><strong>Department/Centre/Unit:</strong> Water Research (WR)</p>
        <p><strong>Programme:</strong> Ph.D. Interdisciplinary programme offered by Interdisciplinary Centre for Water Research.</p>
        <p><strong>Basic Qualification for Eligibility:</strong> BE / B Tech or equivalent degree in any branch of Engineering or M Sc or equivalent degree in Physics / Chemistry / Materials / Mathematics / Statistics / Data Science / Environmental Sciences / Geology / Hydrogeology / Atmospheric Sciences / Agricultural Sciences /Biotechnology or Graduates of 4-year Bachelor of Science programmes.</p>
        <p><strong>Areas of Research:</strong> Global and regional hydrological circulation, climate change impact on hydrology, Land-atmosphere interactions; Land use land cover and Terrestrial carbon cycle changes; Urban water systems; Urban hydrology/ hydrogeology; Watershed and river basin hydrology; Monsoon low-pressure systems; Natural hazards- Inland/coastal Floods, and droughts; Water management; Agrohydrology; Wetland science; Lake ecosystems; Aquatic geochemistry; Geothermal reservoir modelling; Isotope hydrology; Development of sensors: design, modeling and fabrication of water contaminant sensors, Satellite hydrology – Application of satellite technologies; Hydro geochemistry, contamination hydrology, Groundwater resources and depletion, Tracer hydrology, Water Quality Modeling, Water and wastewater treatment, Remediation of environmental and emerging contaminants.</p>
        <p class="text-end">For admission details, <a href="https://iisc.ac.in/admissions/" target="_blank">click here</a></p><br>
      </div>
    </div>
  </div>

  <div class="arrow mb-4" id="headingTwo">
    <h5 class="mb-0">
      <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h5><b>Postdoctoral Positions</b></h5>
      </button>
    </h5>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
      <div class="my-3">
        Prospective Postdocs, INSPIRE Fellows, CV Raman Postdocs, and NPDFs are encouraged to contact our faculty members directly to discuss potential opportunities.
      </div><br>
    </div>
  </div>


  <div class="arrow mb-4" id="headingThree">
    <h5 class="mb-0">
      <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <h5><b>Project Positions</b></h5>
      </button>
    </h5>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
      <div class="my-3">
        Find open positions for various research projects here.
        <b>There are no open positions.</b>
      </div><br>
    </div>
  </div>

</div>

