button.btn.btn-text-expand.collapsed:before
{
    content:'..Read more' ;
    display: block;
    width: 100px;
}
button.btn.btn-text-expand:before
{
    content:'Read less' ;
    display: block;
    width: 100px;
}
.font-highlight{
  background: linear-gradient(to left, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
hr{
  color: #d9a06f;
}
div.d-flex{
  max-width: 100%;
}
.fa-phone,.fa-envelope, .fa-globe, .fa-email{
  color: #0949ca;
  text-decoration: none;
}

.facultySideNavHighlight {
  list-style-type: none;
  padding-left: 0;
}

.nav-link {
 position: relative;
 font-size: large;
}
.nav-link::after {
  content: '';
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #030303;
  transform-origin: bottom left;
  transition: transform 0.5s;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media (max-width: 1300px) {
  .card-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 760px) {
  .card-header {
    flex-direction: row;
    align-items: center;
  }
}
