<div class="container-fluid mt-5 px-5">
  <div class="row">
      <h1 class="float-start ps-md-5">{{getTitleFromType(type)}} Directory</h1>
  </div>
</div>
<hr>
<!-- Main Display  Starts here -->
<div class="row justify-content-center p-5 mt-0">
  <!-- Main Body Start 3 col division -->
  <div class="col-md-3 card shadow d-none d-md-table-row p-5 pt-0 h-100" style="max-width: fit-content; position: sticky; ">
    <h2 class=" my-4 ">Contents</h2>
    <ol class="facultySideNavHighlight card-body">
      <li><a class="font-highlight nav-link" style="font-size: large;" routerLink="/people/faculty">Faculty</a><br></li>
      <li><a class="nav-link" routerLink="/people/visitors">Visitors</a><br></li>
      <li><a class="nav-link" routerLink="/people/researchStudents">Research Students</a><br></li>
      <li><a class="nav-link" routerLink="/people/postDoctoralScholars">Post Doctoral Scholars</a><br></li>
      <li><a class="nav-link" routerLink="/people/projectStaff">Project Staff</a><br></li>
      <li><a class="nav-link" routerLink="/people/officeStaff">Office Staff</a></li>
      <hr>
    </ol>
  </div>
  <!-- Faculty -->
  <div *ngIf="type =='faculty'" class="px-md-5 pb-md-5 px-1 pb-1 row justify-content-center align-items-center col-12 col-md-9" style="max-height: 100vh;overflow-y: scroll;">
    <ng-container *ngFor="let parent of designationNames;index as i">
      <ng-container *ngFor="let row of staffUnderDesignation[i];index as index" >
        <div class="card shadow m-1 p-0">
          <div class="card-body row">
            <img class="col-12 col-md-3 img-fluid" [src]="row.imgSrc" style="border-radius: 100px" />
            <div class="col-12 col-md-8 card-text row">
              <h4 class="col-12" style="font-weight: bold;font-size: medium">{{row.name}} ({{parent}})</h4>
              <h6 class="col-12 font-weight-bold font-italic" style="font-size: small;text-decoration: underline;">{{row.department}}</h6>
              <p class="col-12 d-none d-md-block" style="font-size: small;">{{row.details}}</p>
              <section class="col-12 d-md-none" style="font-size: small;">
              <span>{{row.details.substring(0,150)}}</span>
              <span class="collapse" id={{index}} style=" margin-left: -4px; ">
                {{row.details.substring(150)}}
              </span>
              <button class="col-md-2 btn-text-expand btn collapsed d-md-none col-sm-3 offset-10 m-1 align-self-end" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+index" aria-expanded="false" [attr.aria-controls]="index"></button>
            </section>
            </div>
          </div>
          <div class="card-footer row justify-content-center">
            <h5 *ngIf="row.phoneNo" class="col-md-6 col-12 text-md-center" style="font-size:medium"><a class="fa fa-phone" [href]="'callto:'+row.phoneNo"> {{row.phoneNo }}</a></h5>
            <h5 *ngIf="row.email" class="col-md-6 col-12" style="font-size: medium;"><a class="fa fa-envelope" [href]="'mailto:'+row.email"> {{row.email}}</a></h5>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <!-- Non-Visitors -->
  <div *ngIf="type!='faculty' && dataType=='nested'" class="px-md-5 pb-md-5 px-1 pb-1 row justify-content-center col-md-9 col-12" style="max-height: 100vh;overflow-y: scroll;">
    <ng-container *ngFor="let parent of designationNames;index as i">
      <h4 class="text-center text-white p-2 m-3" style="background-color: rgb(10, 133, 133);"><b>{{parent}}</b></h4>
      <ng-container *ngFor="let row of staffUnderDesignation[i]" >
        <div class="card col-md-5 m-md-3 col-12 shadow border-dark-subtle ">
          <section class="px-1">
            <div class="d-flex card-header align-items-center">
              <img class="card-img me-3 align-self-start" [src]="row.imgSrc" style="max-width: 150px; max-height: 150px;" />
              <h3 class="m-0">{{row.name}}</h3>
            </div>
            <div class="col-12 card-text row">
              <ng-container *ngFor="let key of getObjectKeys(row)">
                <h6 *ngIf="key !== 'phoneNo' && key !== 'name' && key !== 'email' && key !== 'imgSrc'" class="col-12"><b>{{ key }}:</b> {{ row[key] }}</h6>
              </ng-container>
              <h6 class="col-12">{{row.details}}</h6>
            </div>
            <div class="card-footer mb-0 ">
              <h5 *ngIf="row.phoneNo" class="col-12"><a class="fa fa-phone" [href]="'callto:'+row.phoneNo"> {{row.phoneNo }}</a></h5>
              <h5 *ngIf="row.email" class="col-12" style="word-break: break-word;"><a class="fa fa-envelope" [href]="'mailto:'+row.email"> {{row.email}}</a></h5>
            </div>
          </section>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <!-- Visitors -->
  <div *ngIf="dataType!='nested'" class="px-md-1 pb-md-5 px-1 pb-1 row justify-content-center col-md-9 col-12" style="max-height: 100vh;overflow-y: scroll;">
    <ng-container *ngFor="let row of staffUnderDesignation" >
      <div class="card col-md-5 m-md-3 col-12 shadow border-dark-subtle ">
        <section class="px-1">
          <div class="d-flex card-header align-items-center">
            <img class="card-img me-3 align-self-start" [src]="row.imgSrc" style="width: 150px; height: 150px;" />
            <h3 class="m-0">{{row.name}}</h3>
          </div>
        <div class="col-12 card-text row">
          <ng-container *ngFor="let val of getValuesFromJson(row)">
            <h6 *ngIf="val!=row.website &&  val!= row.name && val!= row.email && val!=row.imgSrc" class="col-12">{{val}}</h6>
          </ng-container>
        </div>
        <div class="card-footer">
          <a *ngIf="row.website" class="fa fa-globe" [href]="row.website" target="_blank"><span class="p-1" style="font-size:medium;">Website</span></a>
        </div>
      </section>
      </div>
    </ng-container>
  </div>

</div>
