<div class="container-fluid mt-3 px-5">
  <div class="row">
      <h2 class="float-start ps-md-5"><b>{{getTitleFromType(type)}} Directory</b></h2>
  </div>
</div>
<hr>
<!-- Main Display  Starts here -->
<div class="row justify-content-center px-5 mt-0">
  <!-- Main Body Start 3 col division -->
  <div class="col-md-3 card shadow d-none d-md-table-row p-5 pt-0 h-100" style="max-width: fit-content; position: sticky; ">
    <h2 class=" my-4 ">Contents</h2>
    <ol class="facultySideNavHighlight card-body">
      <li><a class="font-highlight nav-link" routerLink="/people/faculty">Faculty</a><br></li>
      <li><a class="nav-link" routerLink="/people/formerFaculty">Former Faculty</a><br></li>
      <li><a class="nav-link" routerLink="/people/visitors">Visitors</a><br></li>
      <li><a class="nav-link" routerLink="/people/researchStudents">Research Students</a><br></li>
      <li><a class="nav-link" routerLink="/people/postDoctoralScholars">Post Doctoral Scholars</a><br></li>
      <li><a class="nav-link" routerLink="/people/projectStaff">Project Staff</a><br></li>
      <li><a class="nav-link" routerLink="/people/officeStaff">Office Staff</a></li>
      <hr>
    </ol>
  </div>
  <!-- Faculty -->
  <div *ngIf="type =='faculty' || type =='formerFaculty'" class="px-md-5 pb-md-5 px-1 pb-1 row justify-content-center align-items-center col-12 col-md-9" >
    <ng-container *ngFor="let parent of designationNames;index as i">
      <ng-container *ngFor="let row of staffUnderDesignation[i];index as index" >
        <div class="card shadow m-1 p-0">
          <div class="card-body row">
            <img class="col-12 col-md-3 img-fluid" [src]="row.imgSrc" style="height: 200px ; width: 200px; border-radius: 50px" />
            <div class="col-12 col-md-9 card-text row">
              <h5 class="col-12 mt-2" style="font-weight: bold;"><a *ngIf="row.website; else plainName" [href]="row.website" target="_blank" style="text-decoration: none; color: rgb(43, 102, 158);">{{row.name}}</a>
                <ng-template #plainName>{{row.name}}</ng-template></h5>
              <h6 class="col-12" ><b>{{row.Designation}}, {{row.department}}</b></h6>
              <p class="col-12 d-none d-md-block font-italic">{{row.details}}</p>
              <p class="col-12 d-none d-md-block" style="text-align: justify;"><b>Research Interests: </b> {{row.researchInterest}}</p>
              <section class="col-12 d-md-none">
                <div class="collapse" style="text-align: justify;" id={{index}}>
                  <p>{{row.details}}</p> <br>
                  <p><b>Research Interests: </b>{{row.researchInterest}}</p>
                </div>
                <button class="btn-text-expand btn collapsed d-md-none col-sm-3 offset-10 m-1 align-self-end float-end"
                        type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#'+index" aria-expanded="false"
                        [attr.aria-controls]="index">
                </button>
              </section>
            </div>
          </div>
          <div class="card-footer row mx-2 justify-content-center">
            <h5 *ngIf="row.phoneNo" class="col-md-6 col-12 text-md-center" style="font-size:medium"><a class="fa fa-phone" [href]="'callto:'+row.phoneNo"> {{row.phoneNo }}</a></h5>
            <h5 *ngIf="row.email" class="col-md-6 col-12" style="font-size: medium;"><a class="fa fa-envelope" [href]="'mailto:'+row.email"> {{row.email}}</a></h5>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <!-- Non-Visitors -->
  <div *ngIf="type != 'faculty' && type != 'formerFaculty' && dataType == 'nested'" class="px-md-5 pb-md-5 px-1 pb-1 row justify-content-center col-md-9 col-12">
    <!-- Tabs -->
    <ul class="nav nav-tabs" id="staffTabs" role="tablist">
      <li *ngFor="let parent of designationNames" class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === parent" (click)="activeTab = parent" type="button" role="tab" aria-selected="activeTab === parent">{{ parent }}</button>
      </li>
    </ul>
    <ng-container *ngFor="let parent of designationNames; index as i">
      <div *ngIf="activeTab === parent" class="row">
        <ng-container *ngFor="let row of staffUnderDesignation[i]">
          <div class="card col-md-5 m-md-3 col-12 shadow border-dark-subtle mb-1">
            <section class="px-1">
              <div class="d-flex card-header align-items-center">
                <img class="card-img me-3 align-self-start" [src]="row.imgSrc" style="max-width: 150px; max-height: 150px;" />
                <h3 class="m-0">{{ row.name }}</h3>
              </div>
              <div class="col-12 card-text row">
                <ng-container *ngFor="let key of getObjectKeys(row)">
                  <h6 *ngIf="key !== 'phoneNo' && key !== 'name' && key !== 'email' && key !== 'imgSrc'" class="col-12"><b>{{ key }}:</b> {{ row[key] }}</h6>
                </ng-container>
                <h6 class="col-12">{{ row.details }}</h6>
              </div>
              <div class="card-footer mb-0">
                <h5 *ngIf="row.phoneNo" class="col-12">
                  <a class="fa fa-phone" [href]="'callto:' + row.phoneNo"> {{ row.phoneNo }}</a>
                </h5>
                <h5 *ngIf="row.email" class="col-12" style="word-break: break-word;">
                  <a class="fa fa-envelope" [href]="'mailto:' + row.email"> {{ row.email }}</a>
                </h5>
              </div>
            </section>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <!-- Visitors -->
  <div *ngIf="dataType!='nested'" class="px-md-1 pb-md-5 px-1 pb-1 row justify-content-center col-md-9 col-12">
    <ng-container *ngFor="let row of staffUnderDesignation" >
      <div class="card col-md-5 m-md-3 col-12 shadow border-dark-subtle ">
        <section class="px-1">
          <div class="d-flex card-header align-items-center">
            <img class="card-img me-3 align-self-start" [src]="row.imgSrc" style="width: 150px; height: 150px;" />
            <h3 class="m-0">{{row.name}}</h3>
          </div>
        <div class="col-12 card-text row">
          <ng-container *ngFor="let val of getValuesFromJson(row)">
            <h6 *ngIf="val!=row.website &&  val!= row.name && val!= row.email && val!=row.imgSrc" class="col-12">{{val}}</h6>
          </ng-container>
        </div>
        <div class="card-footer">
          <a *ngIf="row.website" class="fa fa-globe" [href]="row.website" target="_blank"><span class="p-1" style="font-size:medium;">Website</span></a>
        </div>
      </section>
      </div>
    </ng-container>
  </div>

</div>
